/* Fix for poptrox lightbox on small screens */
.poptrox-popup {
  width: 100% !important;
}

body {
  color: #818181;
}

#main img {
  max-width: 100%;
  height: auto;
}

strong {
  color: #5e5d5d;
}